*{
    margin : 0;
    padding : 0;
}

body{
    background-color: #B6C2D9;
    text-align: center;
}

.container{
    height: 70vh;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}

.game{
    height:60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    gap: 10px;
}

.box{
    height:18vmin;
    width:18vmin;
    background-color: #FAFF70;
    border-radius: 20%;
    border: none;
    box-shadow: 0 0 2rem rgba(0,0,0,0.4);
    font-size:  8vmin;
    color: #90323D;
}

#reset-btn{
    padding:1.3rem;
    font-size:1rem;
    border-radius:10%;
    border:none;
    background-color:#342A21;
    color:white; 
}

#new-btn{
    padding:1.3rem;
    font-size:1rem;
    border-radius:10%;
    border:none;
    background-color:#342A21;
    color:white; 
}

#msg{
    color:#FAFF70;
    font-size:4vmin;
}

.msg-container{
    height: 100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.hide{
    display:none;
}

.O-style{
    color : #AEDCC0;
    font-weight: bold;
}

.X-style{
    color: #A37B73;
    font-weight : bold;
}

h1{
    color :#3C3C3B;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:5vmin;
    transition: color 0.2s ease, transform 0.2s ease;
    cursor: pointer;
}

h1:hover {
    color: #90323D;   
    transform: scale(1.1); 
}